#################
## Basic ignores
#################
*.lnk
*.wz
*.zip
*.7z


#################
## Unity
#################

# Unity .gitignore file.
Library
Temp
Build
Story
Binary
*.unity
*.csproj
*.sln
*.userprefs
*.pidb
*.DS_Store
*.unity
